

#users_profile_form {
	margin: auto;
	display: block;
	margin-right: 150px;
	margin-bottom: 100px;
}
#users_profile_form .container {
	margin: 40px 0 0 100px;
	width: 80% !important;
	
}
#users_profile_form .d01 {
	margin: 20px 0 30px 0;
	font: bold 30px Tahoma;
	color: #666;
}
#users_profile_form .d02 {
	 margin: 50px 3px 20px 0;
}
#users_profile_form input {
	direction: ltr;
	display: block;
	font: normal 16px Tahoma;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	width: 450px;
}
#users_profile_form input:nth-child(2) {
	direction: rtl !important;
}
#users_profile_form input[type=submit] {
	background: rgb(86, 86, 86);
	color: white;
	margin: 10px 0 0 0;
}

