

#users_changepassword_form {
	margin: auto;
	display: block;
	margin-right: 150px;
	margin-bottom: 100px;
	direction: rtl;
}
#users_changepassword_form .container {
	margin: 40px 0 0 100px;
	width: 80% !important;
}
#users_changepassword_form .d01 {
	margin: 20px 0 30px 0;
	font: bold 30px Tahoma;
	color: #666;
}
#users_changepassword_form .d02 {
	 margin: 50px 3px 20px 0;
}
#users_changepassword_form input {
	direction: ltr;
	display: block;
	font: normal 16px Tahoma;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	width: 450px;
}

