
.is_display {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	width: 100%;
}
.is_display .pics {
	margin-top: 10px;
	display: inline-block;
	width: 55%;
	direction: ltr;
	margin-right: 10px;
}
.is_display .pics img.main {
	vertical-align: top;
	width: 100%;
	min-width: 100%;
	min-height: 400px;
	max-height: 400px;
}
.is_display .pics .tiny img {
	border-radius: 4px;
	height: 73px;
	width: 0px;
	margin: 0 2px;
}
.is_display .text {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	direction: rtl;
	padding-right:10px;
	margin: 20px 0px 20px 0px;
	background-color: #ECEBFF;	
}
.model{
	color: #222;
}
.text>.name{
	color: #222;
}
.is_display .text > div ,
.is_display .text > div > span {
	font-size: 15px;
	line-height: 46px !important;

}
.is_display .text > div {
	display: inline-block;
	margin-left: 20px;
}
.is_display .text > div > span {
	color: #555;
	display: inline-block;
	margin-left: 10px;
}
.is_display .text > form select {
	width: 80px;
	margin-left: 10px;
}
.is_display .desc {
	display: inline-block;
	background-color: #f8f8f8;
	padding: 5px 20px 15px 20px;
	font-size: 15px;
	line-height: 22px !important;
	margin-top: 10px;
	margin-right: 20px;
	width: 39%;
	min-height: 300px;
	vertical-align: top;
}
.is_display .desc > div {
	color: #888;
	font-size: 15px;
	line-height: 36px !important;
}
.p-dec{	
	font-size: 1em;
	word-break:break-all;
}
.orders_basket_addbutton {
	width: 100% !important;
	padding: 8px 15px 5px 15px !important;
	background-color: #A90000 !important;
	display: inline-block !important;
	position: relative !important;	
}
.orders_basket_addbutton:hover {
	opacity: 0.8 !important;
}







