
.is_display {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	width: 100%;
	
}
.is_display .pics {
	display: inline-block;
	width: 40%;
}
.is_display .pics img.main {
	border-radius: 5px;
	vertical-align: top;
}
.is_display .pics .tiny {
}
.is_display .pics .tiny img {
	border-radius: 4px;
	height: 73px;
	width: 0px;
	margin: 0 2px;
}
.is_display .text {
	width: 25%;
	height: 300px;
	
	display: inline-block;
	vertical-align: top;
	text-align: right;
	direction: rtl;
	margin: 0px 0px 0px 0px;
	margin-right: -48px;
}
.model{
	
}

.is_display .text > div ,
.is_display .text > div > span {
	font-size: 15px;
	line-height: 46px !important;
}
.is_display .text > div {
	border-bottom: 1px dashed #eee;
}
.is_display .text > div > span {
	color: #888;
	padding: 5px;
	display: inline-block;
	margin-left: 10px;
}
.is_display .text > form {

}
.is_display .text > form select {
	width: 80px;
	margin-left: 10px;
}
.is_display .desc {
	display: inline-block;
	border-radius: 5px;
	background-color: #f8f8f8;
	padding: 5px 20px 15px 20px;
	font-size: 15px;
	line-height: 22px !important;
	margin-top: 10px;
	margin-right: 10px;
	width: 38%;
	min-height: 300px;
	vertical-align: top;
}
.is_display .desc > div {
	color: #888;
	font-size: 15px;
	line-height: 36px !important;
}
.p-dec{
	min-height: 100px;
	font-size: 1em;
	word-break:break-all;
}
.orders_basket_addbutton {
	width: auto !important;
	padding: 8px 15px 5px 15px !important;
	background-color: #A90000 !important;
	display: inline-block !important;
	position: relative !important;
}
.orders_basket_addbutton:hover {
	opacity: 0.8 !important;
}










