
.is_list {
	text-align: center;
	margin: 10px -5px !important;
}
.is_list > .r {
	padding: 0px;
	margin: 6px 5px;
	width: 29.5% !important;
	border-radius: 4px;
}
.is_list > .r > img.main {
	display: inline-block;
	width: 90%;
    height: 192px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}
.is_list > .r div.tiny {
	position: absolute; left: 10px; top: 10px;
	/*width: 10px;*/
	/*text-align: left;*/
}
.is_list > .r div.tiny > img {
	width: 45px;
	height: 45px;
	/*border: 3px solid white;*/
	/*box-shadow: 0 0 10px #000;*/
	border-radius: 4px;
	margin: 0 0 4px 0 !important;
	display: block;
}
.listmaker_showcase > a > img {
	max-width: 100% !important;
}
.listmaker_showcase > a {
	height: 252px !important;
	border: 0px !important; 
    box-shadow: 0 0 0px #ddd !important;
    transition: all 0.3s;
}
.listmaker_showcase > a:hover {
	background-color: #eee;
}
.is_list > .r .text {
	position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #eee;
    padding: 0px 7px;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    overflow: hidden;
    text-align: right;
    height: 28px;
    line-height: 28px !important;
}
.is_list > .r .order {
	position: absolute; bottom: 10px; left: 10px;
	background-color: #A90000;
	border-radius: 4px;
	padding: 8px 12px 6px 12px;
	color: #FFF0F0;
	font: bold 14px BYekan;
	display: block;
}	
.is_list > .r .order:hover {
	opacity: 0.7;
}

.listmaker_list_paging {
	width: 100% !important;
    margin: 20px auto !important;
}

.is_list_search {
	margin: 35px auto 25px auto;
	width: 70%;
	position: relative;
}
.is_list_search input[type="text"] {
	font-size: 16px;
	padding: 15px 20px;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 0 15px #ddd;
	border: 0px;
}
.is_list_search input[type="submit"] {
	position: absolute; left: 8px; top: 4px;
	box-shadow: 0 0 0 #000 !important;
	border: 0px !important;
	border-radius: 6px;
}
.is_list_A{
	margin: 0 auto;
	width: 75%;
	direction: rtl;

}















