
/*
 jalal7h@gmail.com
 2015/10/20
 Version 1.0.0
*/

.is_management_import_form {
	margin: 40px auto;
	width: 300px;
	text-align: right;
}
.is_management_import_form .text {
	margin: 0 0 20px 0;
	direction: rtl;
	font-size: 14px;
}

