.catP{
	margin-top: 50px;
	text-align: center;	
}
.catP>.catP1{
	width: 49%;
	display: inline-block;

}
.catP1>img{

	height: 250px;
	width: 100%;
	position: relative;
}
.catP1>.name{
	text-align: right;
	font-size: 18px;
	color: #fff;
	
	font-weight: bold;
	background-color: rgba(0,0,0,.5);
	position: relative;
	bottom: 58px;
	padding: 20px;
}
