
.orders_user_list {
	width: 100%;
	direction: rtl;
	margin-top: 20px;
}
.orders_user_list th ,
.orders_user_list td {
	padding: 10px;
	border: 1px solid #eee;
	border-width: 1px 0 1px 0;
	text-align: center;
	vertical-align: middle;
}
.orders_user_list th {
	background-color: #f2f2f2;
	text-align: center;
	font-weight: bold;
	cursor: default;
}
.orders_user_list .ltr {
	font-family: "courier new";
	direction: ltr;
}
.orders_user_list .payment {
	display: inline-block;
	background-color: rgb(117, 172, 0);
	padding: 7px 15px;
	font: normal 13px BYekan;
	color: white;
	border-radius: 3px;
	margin: 3px; 
	text-decoration: none;
	box-shadow: 0 0 10px #ccc;
}
.orders_user_list .payment:hover {
	opacity: 0.8;
}
.orders_user_list .payment2 {
	line-height: 33px !important;
	vertical-align: middle;
}
.orders_user_list tr:nth-child(odd) td {
	background-color: #fafafa;
}







