
/*index*/

.news_display {
	width:100%;
	padding:0;
	position: relative;
}
.news_display ,
.news_display * {
	font: normal 14px tahoma !important;
}
.news_display .head {
	padding:10px;
	font-size:16px;
	color:#000;
	border-left:20px solid #3A8D00;
}
.news_display .text {
	padding:15px 20px;
	color:#000 !important;
	line-height:25px !important;
	text-align:justify;
	min-height: 340px;
}
.news_display .text * {
	line-height:25px !important;
}
.news_display .tag {
	margin: 0 30px;
	padding: 10px 25px;
	background: #eee;
}
.news_display .date {
	position: absolute; top: -40px; left: 25px;
	font: normal 11px tahoma !important;
}
.news_display .visit {
	position: absolute; top: -20px; left: 25px;
	font: normal 11px tahoma !important;
}
.news_display img.main {
	max-width: 70%;
	float: left;
	margin: 5px 30px 30px 0;
	border: 1px solid #888;
	min-width: 48%;
	max-height: 300px;
}
.news_display img {

	text-align: center;
	margin: auto;
	max-width: 80%;
}


